schema/staticSearch.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://hcmc.uvic.ca/ns/staticSearch"><!--
Schema generated from ODD source 2022-02-16T17:18:01Z. 2019-2022.
TEI Edition: Version 4.3.0. Last updated on
        31st August 2021, revision b4f72b1ff
TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.3.0/
  
--><!--Free to anyone for any purpose-->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <define name="config">
      <element name="config" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The root element for the Search Generator configuration file.) </a:documentation>
         <ref name="params"/>
         <optional>
            <ref name="rules"/>
         </optional>
         <optional>
            <ref name="contexts"/>
         </optional>
         <optional>
            <ref name="excludes"/>
         </optional>
         <optional>
            <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                       name="version"
                       a:defaultValue="1">
               <a:documentation>(specifies the major version of staticSearch to which
                  this configuration file corresponds. If this attribute is not used, the configuration file is assumed to have an version value of 1.) </a:documentation>
               <data type="nonNegativeInteger"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="params">
      <element name="params" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Element containing most of the settings which enable the Generator to
            find the target website content and process it appropriately.) </a:documentation>
         <interleave>
            <ref name="searchFile"/>
            <optional>
               <ref name="versionFile"/>
            </optional>
            <optional>
               <ref name="stemmerFolder"/>
            </optional>
            <ref name="recurse"/>
            <optional>
               <ref name="linkToFragmentId"/>
            </optional>
            <optional>
               <ref name="minWordLength"/>
            </optional>
            <optional>
               <ref name="scrollToTextFragment"/>
            </optional>
            <optional>
               <ref name="scoringAlgorithm"/>
            </optional>
            <optional>
               <ref name="phrasalSearch"/>
            </optional>
            <optional>
               <ref name="wildcardSearch"/>
            </optional>
            <optional>
               <ref name="createContexts"/>
            </optional>
            <optional>
               <ref name="maxKwicsToHarvest"/>
            </optional>
            <optional>
               <ref name="maxKwicsToShow"/>
            </optional>
            <optional>
               <ref name="totalKwicLength"/>
            </optional>
            <optional>
               <ref name="kwicTruncateString"/>
            </optional>
            <optional>
               <ref name="verbose"/>
            </optional>
            <optional>
               <ref name="stopwordsFile"/>
            </optional>
            <optional>
               <ref name="dictionaryFile"/>
            </optional>
            <optional>
               <ref name="indentJSON"/>
            </optional>
            <optional>
               <ref name="outputFolder"/>
            </optional>
            <optional>
               <ref name="resultsPerPage"/>
            </optional>
            <optional>
               <ref name="resultsLimit"/>
            </optional>
         </interleave>
      </element>
   </define>
   <define name="rules">
      <element name="rules" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The set of rules that control weighting of search terms
              found in specific contexts.) </a:documentation>
         <oneOrMore>
            <ref name="rule"/>
         </oneOrMore>
      </element>
   </define>
   <define name="rule">
      <element name="rule" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(A rule that specifies a document path as XPath in the 
              match attribute, and provides weighting for search
              terms found in that context.) </a:documentation>
         <empty/>
         <ref name="att.match.attributes"/>
         <attribute name="weight">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The weighting to give to a search token found in the context specified by the
                  match attribute. Set to 0 to completely suppress indexing for a
                  specific context, or greater than 1 to give stronger weighting.) </a:documentation>
            <data type="nonNegativeInteger"/>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="contexts">
      <element name="contexts" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The set of context elements that identify
            contexts for keyword-in-context fragments.) </a:documentation>
         <oneOrMore>
            <ref name="context"/>
         </oneOrMore>
      </element>
   </define>
   <define name="context">
      <element name="context" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(A context definition, providing a match attribute that identifies the context,
              allowing keyword-in-context fragments to be bounded by a specific context.) </a:documentation>
         <empty/>
         <ref name="att.match.attributes"/>
         <ref name="att.labelled.attributes"/>
         <optional>
            <attribute name="context">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <data type="boolean"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="excludes">
      <element name="excludes" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The set of exclusions, expressed as exclude elements, that control the subset of documents
            or filters used for a particular search.) </a:documentation>
         <oneOrMore>
            <ref name="exclude"/>
         </oneOrMore>
      </element>
   </define>
   <define name="exclude">
      <element name="exclude" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(An exclusion definition, which excludes either documents or filters 
              as defined by an XPath in the match attribute.) </a:documentation>
         <empty/>
         <ref name="att.match.attributes"/>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <choice>
               <value>index</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Index exclusion) An exclusion that specifies HTML fragment (which itself can be the root HTML element) to exclude from the document index.</a:documentation>
               <value>filter</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Filter exclusion) An exclusion that matches an HTML meta tag to exclude from the filter controls on the search page.</a:documentation>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="att.match.attributes">
      <ref name="att.match.attribute.match"/>
   </define>
   <define name="att.match.attribute.match">
      <attribute name="match">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(An XPath equivalent to the @match attribute of an xsl:template, which
                  specifies a context in a document.) </a:documentation>
         <data type="string"/>
      </attribute>
   </define>
   <define name="att.labelled.attributes">
      <ref name="att.labelled.attribute.label"/>
   </define>
   <define name="att.labelled.attribute.label">
      <optional>
         <attribute name="label">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(A string identifier specifying the name for a given context.) </a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="searchFile">
      <element name="searchFile" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The search file (aka page) that will be the primary access point for the staticSearch. Note
            that this page must be at the root of the collection directory.) </a:documentation>
         <data type="anyURI"/>
      </element>
   </define>
   <define name="versionFile">
      <element name="versionFile" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The relative path to a text file containing a single version identifier (such as 
              1.5, 123456, or 06ad419). This will be used to create
            unique filenames for JSON resources, so that the browser
            will not use cached versions of older index files.) </a:documentation>
         <data type="anyURI"/>
      </element>
   </define>
   <define name="stemmerFolder">
      <element name="stemmerFolder" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The name of a folder inside the staticSearch /stemmers/ folder, 
              in which the JavaScript and XSLT implementations
            of stemmers can be found. If left blank, then the staticSearch default English 
            stemmer (en) will be used.) </a:documentation>
         <data type="NCName"/>
      </element>
   </define>
   <define name="scoringAlgorithm">
      <element name="scoringAlgorithm" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The scoring algorithm to use for ranking keyword results. Default is "raw" (i.e. weighted counts)) </a:documentation>
         <choice>
            <value>raw</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Default: Calculate the score based off of the weighted number of 
                    instances of a term in a text.) raw score</a:documentation>
            <value>tf-idf</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Calculate the score based off of the tf-idf scoring algorithm.) </a:documentation>
         </choice>
      </element>
   </define>
   <define name="recurse">
      <element name="recurse" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Whether to recurse into subdirectories of the collection directory or
              not.) </a:documentation>
         <data type="boolean"/>
      </element>
   </define>
   <define name="createContexts">
      <element name="createContexts" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Whether to include keyword-in-context extracts in the index.) </a:documentation>
         <data type="boolean"/>
      </element>
   </define>
   <define name="minWordLength">
      <element name="minWordLength" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The minimum length of a term to be indexed. Default is 3 characters.) </a:documentation>
         <data type="nonNegativeInteger"/>
      </element>
   </define>
   <define name="linkToFragmentId">
      <element name="linkToFragmentId" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Whether to link keyword-in-context extracts to the nearest id in the document. Default is true.) </a:documentation>
         <data type="boolean"/>
      </element>
   </define>
   <define name="scrollToTextFragment">
      <element name="scrollToTextFragment" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(WARNING: Experimental technology. This turns on a feature currently only 
            supported by a subset of browsers, enabling links from keyword-in-context results
            directly to the specific text string in the target document.) </a:documentation>
         <data type="boolean"/>
      </element>
   </define>
   <define name="totalKwicLength">
      <element name="totalKwicLength" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(If createContexts is set to true, then this parameter controls the length (in words) of
              the harvested keyword-in-context string.) </a:documentation>
         <data type="nonNegativeInteger"/>
      </element>
   </define>
   <define name="maxKwicsToHarvest">
      <element name="maxKwicsToHarvest" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(This controls the maximum number of keyword-in-context extracts that will be
              stored for each term in a document.) </a:documentation>
         <data type="nonNegativeInteger"/>
      </element>
   </define>
   <define name="maxKwicsToShow">
      <element name="maxKwicsToShow" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(This controls the maximum number of keyword-in-context extracts that will be shown
              in the search page for each hit document returned.) </a:documentation>
         <data type="nonNegativeInteger"/>
      </element>
   </define>
   <define name="kwicTruncateString">
      <element name="kwicTruncateString" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The string that will be used to signal ellipsis at the beginning and end of a
              keyword-in-context extract. Conventionally three periods, or an ellipsis
              character (which is the default value).) </a:documentation>
         <text/>
      </element>
   </define>
   <define name="indentJSON">
      <element name="indentJSON" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Whether or not to indent code in the JSON index files. Indenting increases the
              file size, but it can be useful if you need to read the files for debugging
              purposes.) </a:documentation>
         <data type="boolean"/>
      </element>
   </define>
   <define name="phrasalSearch">
      <element name="phrasalSearch" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Whether or not to support phrasal searches. If this is true, then the maxContexts
            setting will be ignored, because all contexts are required to properly support phrasal search.) </a:documentation>
         <data type="boolean"/>
      </element>
   </define>
   <define name="wildcardSearch">
      <element name="wildcardSearch" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Whether or not to support wildcard searches. Note that wildcard searches are
            more effective when phrasal searching is also turned on, because the contexts 
            available for phrasal searches are also used to provide wildcard results.) </a:documentation>
         <data type="boolean"/>
      </element>
   </define>
   <define name="resultsPerPage">
      <element name="resultsPerPage" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The maximum number of document results to be displayed per page. All results
            are displayed by default; setting resultsPerPage to a positive integer creates a 
              Show More/Show All widget at the bottom of the batch of results.) </a:documentation>
         <data type="nonNegativeInteger"/>
      </element>
   </define>
   <define name="resultsLimit">
      <element name="resultsLimit" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The maximum number of results that can be returned for any search before returning an error; if the number
              of documents in a result set exceeds this number, then staticSearch will not render the results and will provide a message
              saying that the search returned too many results. This is usually set to 2000 by default, but you may want to have a higher or lower limit,
            depending on the specific structure of your project.  ) </a:documentation>
         <data type="nonNegativeInteger"/>
      </element>
   </define>
   <define name="verbose">
      <element name="verbose" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Turns on more detailed reporting during the indexing process.) </a:documentation>
         <data type="boolean"/>
      </element>
   </define>
   <define name="stopwordsFile">
      <element name="stopwordsFile" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The relative path (from the config file) to a text file containing a list of 
              stopwords (words to be ignored when indexing). ) </a:documentation>
         <data type="anyURI"/>
      </element>
   </define>
   <define name="dictionaryFile">
      <element name="dictionaryFile" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The relative path (from the config file) to a dictionary file (one word per line) which will be used to check
            tokens when indexing.) </a:documentation>
         <data type="anyURI"/>
      </element>
   </define>
   <define name="outputFolder">
      <element name="outputFolder" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The name of the output folder into which the index data and JavaScript will 
              be placed in the site search. This should conform with the 
              XML Name specification.) </a:documentation>
         <data type="NCName"/>
      </element>
   </define>
   <start>
      <choice>
         <ref name="config"/>
      </choice>
   </start>
</grammar>
