schema/staticSearch.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://hcmc.uvic.ca/ns/staticSearch"><!--
Schema generated from ODD source 2020-01-01T05:54:44Z. 2019.
TEI Edition: Version 3.6.0. Last updated on
	16th July 2019, revision daa3cc0b9
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.6.0/
  
--><!--Free to anyone for any purpose-->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <define name="config">
      <element name="config" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The root element for the Search Generator configuration file.) </a:documentation>
         <ref name="params"/>
         <optional>
            <ref name="rules"/>
         </optional>
         <optional>
            <ref name="contexts"/>
         </optional>
      </element>
   </define>
   <define name="params">
      <element name="params" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Element containing most of the settings which enable the Generator to
            find the target website content and process it appropriately.) </a:documentation>
         <group>
            <ref name="searchFile"/>
            <ref name="recurse"/>
            <optional>
               <ref name="phrasalSearch"/>
            </optional>
            <optional>
               <ref name="createContexts"/>
            </optional>
            <optional>
               <ref name="maxContexts"/>
            </optional>
            <optional>
               <ref name="totalKwicLength"/>
            </optional>
            <optional>
               <ref name="kwicTruncateString"/>
            </optional>
            <optional>
               <ref name="verbose"/>
            </optional>
            <optional>
               <ref name="stopwordsFile"/>
            </optional>
            <optional>
               <ref name="dictionaryFile"/>
            </optional>
            <optional>
               <ref name="searchPage"/>
            </optional>
            <optional>
               <ref name="indentJSON"/>
            </optional>
         </group>
      </element>
   </define>
   <define name="rules">
      <element name="rules" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The set of rules, expressed as XPath, that control weighting of search terms
              found in specific contexts.) </a:documentation>
         <oneOrMore>
            <ref name="rule"/>
         </oneOrMore>
      </element>
   </define>
   <define name="rule">
      <element name="rule" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(A rule that specifies a document path in XPath, and provides weighting for search
              terms found in that context.) </a:documentation>
         <empty/>
         <ref name="att.xpath.attributes"/>
         <attribute name="weight">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The weighting to give to a search token found in the context specified by the
                  xpath attribute. Set to 0 to completely suppress indexing for a
                  specific context, or greater than 1 to give stronger weighting.) </a:documentation>
            <data type="nonNegativeInteger"/>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="contexts">
      <element name="contexts" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <oneOrMore>
            <ref name="context"/>
         </oneOrMore>
      </element>
   </define>
   <define name="context">
      <element name="context" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(A context definition, providing an XPath attribute that identifies the context,
              allowing keyword-in-context fragments to be bounded by a specific context.) </a:documentation>
         <empty/>
         <ref name="att.xpath.attributes"/>
         <ref name="att.labelled.attributes"/>
         <optional>
            <attribute name="context">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <data type="boolean"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="att.xpath.attributes">
      <ref name="att.xpath.attribute.xpath"/>
   </define>
   <define name="att.xpath.attribute.xpath">
      <optional>
         <attribute name="xpath">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(An XPath equivalent to the @match attribute of an xsl:template, which
                  specifies a context in a document.) </a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="att.labelled.attributes">
      <ref name="att.labelled.attribute.label"/>
   </define>
   <define name="att.labelled.attribute.label">
      <optional>
         <attribute name="label">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(A string identifier which may be descriptive.) </a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="searchFile">
      <element name="searchFile" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The search file (aka page) that will be the primary access point for the static search. Note
            that this page must be at the root of the collection directory.) </a:documentation>
         <data type="anyURI"/>
      </element>
   </define>
   <define name="recurse">
      <element name="recurse" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Whether to recurse into subdirectories of the collection directory or
              not.) </a:documentation>
         <data type="boolean"/>
      </element>
   </define>
   <define name="createContexts">
      <element name="createContexts" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Whether to include keyword-in-context extracts in the index. This increases the
              size of the index considerably, but it allows for more user-friendly search results,
              as well as phrasal searches.) </a:documentation>
         <data type="boolean"/>
      </element>
   </define>
   <define name="totalKwicLength">
      <element name="totalKwicLength" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(If createContexts is set to true, then this parameter controls how long
              the contexts will be.) </a:documentation>
         <data type="nonNegativeInteger"/>
      </element>
   </define>
   <define name="maxContexts">
      <element name="maxContexts" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(This controls the maximum number of keyword-in-context extracts that will be
              stored for each term. If phrasalSearch is set to true, this parameter is
              ignored, because phrasal searches will only work properly if all contexts are
              stored.) </a:documentation>
         <data type="nonNegativeInteger"/>
      </element>
   </define>
   <define name="kwicTruncateString">
      <element name="kwicTruncateString" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The string that will be used to signal ellipsis at the beginning and end of a
              keyword-in-context extract. Conventionally three periods, or an ellipsis
              character.) </a:documentation>
         <text/>
      </element>
   </define>
   <define name="indentJSON">
      <element name="indentJSON" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Whether or not to indent code in the JSON index files. Indenting increases the
              file size, but it can be useful if you need to read the files for debugging
              purposes.) </a:documentation>
         <data type="boolean"/>
      </element>
   </define>
   <define name="phrasalSearch">
      <element name="phrasalSearch" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Whether or not to support phrasal searches. If this is true, then the maxContexts
            setting will be ignored, because all contexts are required to properly support phrasal search.) </a:documentation>
         <data type="boolean"/>
      </element>
   </define>
   <define name="verbose">
      <element name="verbose" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Turns on more detailed reporting during the indexing process.) </a:documentation>
         <data type="boolean"/>
      </element>
   </define>
   <define name="stopwordsFile">
      <element name="stopwordsFile" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The location of a text file containing a list of stopwords (words to be ignored
            when indexing). These are typically words too common to be worth searching for, but 
            every site will also have some specific terms which are used so widely across the site
            that they should be suppressed to control the index size. The list should be in plain text
            with one word per line.) </a:documentation>
         <data type="anyURI"/>
      </element>
   </define>
   <define name="dictionaryFile">
      <element name="dictionaryFile" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The location of a dictionary file (one word per line) which will be used to check
            tokens when indexing.) </a:documentation>
         <data type="anyURI"/>
      </element>
   </define>
   <define name="searchPage">
      <element name="searchPage" ns="http://hcmc.uvic.ca/ns/staticSearch">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(The location of a search page in the site to be indexed. This page must contain
            a div element with id="staticSearch". That div will be transformed to include the 
            search form and all other required components.) </a:documentation>
         <data type="anyURI"/>
      </element>
   </define>
   <start>
      <choice>
         <ref name="config"/>
      </choice>
   </start>
</grammar>
